<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span class="location"><%= @user.location %></span>
    </section>
    <%= link_to 'Profile', @user %><br>
    <%= link_to 'Followings', followings_user_path(@user) %><br>
    <%= link_to 'Like', like_user_path(@user) %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.follower_users.any? %>
      <h3>Followers(<%= @user.follower_users.count %>)</h3>
      <ol class="users">
        <%= render partial: 'users/user', collection: @follower_users %>
      </ol>
    <% end %>
  </div>
</div>